= form_for @application_setting, url: admin_application_settings_path, html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group.row
      .offset-sm-2.col-sm-10
        .form-check
          = f.label :auto_devops_enabled do
            = f.check_box :auto_devops_enabled
            Enabled Auto DevOps for projects by default
        .form-text.text-muted
          It will automatically build, test, and deploy applications based on a predefined CI/CD configuration
          = link_to icon('question-circle'), help_page_path('topics/autodevops/index.md')
    .form-group.row
      = f.label :auto_devops_domain, class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.text_field :auto_devops_domain, class: 'form-control', placeholder: 'domain.com'
        .form-text.text-muted
          = s_("AdminSettings|Specify a domain to use by default for every project's Auto Review Apps and Auto Deploy stages.")
    .form-group.row
      .offset-sm-2.col-sm-10
        .form-check
          = f.label :shared_runners_enabled do
            = f.check_box :shared_runners_enabled
            Enable shared runners for new projects

    = render 'shared_runners_minutes_setting', form: f

    .form-group.row
      = f.label :shared_runners_text, class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.text_area :shared_runners_text, class: 'form-control', rows: 4
        .form-text.text-muted Markdown enabled
    .form-group.row
      = f.label :max_artifacts_size, 'Maximum artifacts size (MB)', class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.number_field :max_artifacts_size, class: 'form-control'
        .form-text.text-muted
          Set the maximum file size for each job's artifacts
          = link_to icon('question-circle'), help_page_path('user/admin_area/settings/continuous_integration', anchor: 'maximum-artifacts-size')
    .form-group.row
      = f.label :default_artifacts_expire_in, 'Default artifacts expiration', class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.text_field :default_artifacts_expire_in, class: 'form-control'
        .form-text.text-muted
          Set the default expiration time for each job's artifacts.
          0 for unlimited.
          = link_to icon('question-circle'), help_page_path('user/admin_area/settings/continuous_integration', anchor: 'default-artifacts-expiration')

  = f.submit 'Save changes', class: "btn btn-success"
