.form-group.row
  = f.label :lfs_enabled, 'Large File Storage', class: 'col-form-label col-sm-2'
  .col-sm-10
    .form-check
      = f.label :lfs_enabled do
        = f.check_box :lfs_enabled, checked: @group.lfs_enabled?
        %strong
          Allow projects within this group to use Git LFS
          = link_to icon('question-circle'), help_page_path('workflow/lfs/manage_large_binaries_with_git_lfs')
        %br/
        %span.descr This setting can be overridden in each project.

= render partial: 'groups/ee/project_creation_level', locals: { form: f, group: @group }

.form-group.row
  = f.label :require_two_factor_authentication, 'Two-factor authentication', class: 'col-form-label col-sm-2'
  .col-sm-10
    .form-check
      = f.label :require_two_factor_authentication do
        = f.check_box :require_two_factor_authentication
        %strong
          Require all users in this group to setup Two-factor authentication
          = link_to icon('question-circle'), help_page_path('security/two_factor_authentication', anchor: 'enforcing-2fa-for-all-users-in-a-group')
.form-group.row
  .offset-sm-2.col-sm-10
    .form-check
      = f.text_field :two_factor_grace_period, class: 'form-control'
      .form-text.text-muted Amount of time (in hours) that users are allowed to skip forced configuration of two-factor authentication
